@{
    ViewData["Title"] = "Apagar contato";
}
<div class="text-center">
    <h1 class="display-4">Apagar contato</h1>
</div>

<br />

<div class="d-grid gap-2">
    <a class="btn btn-secondary" role="button">Confirmar exclusão</a>
    <a asp-controller="Instituicao" asp-action="Index" class="btn btn-danger" role="button">Voltar</a>
</div>